* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

main {
  position: relative;
}

.page {
  height: 100vh;
  width: 100vw;
}

#nav-bar {
  height: 5rem;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  display: flex;
}

.nav-btn {
  font-size: 1.8rem;
  font-family: "Averia Serif Libre", serif;
  padding: 0.9rem;
  background-color: transparent;
  color: #ffffcc;
  opacity: 0.7;
}

.nav-btn:hover {
  text-decoration: underline;
}

#home-btn {
  opacity: 100%;
}

#home {
  background-image: linear-gradient(to right, #04101b, #071d30);
  position: absolute;
  z-index: 1;
  display: flex;
}

#remaining-space-home {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 10px;
}

.border {
  background-image: url(./images/frame\ left.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 19rem;
  right: 0;
  transform: scaleX(-1);
}

/* change to text */
#veronica {
  background-image: url(./images/Veronicapng.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25rem;
  width: 40rem;
}

#about {
  background-image: linear-gradient(to right, #04101b, #071d30);
  position: absolute;
  display: flex;
  z-index: 0;
}

#remaining-space-about {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about-text-container {
  width: 35rem;
  height: fit-content;
  margin-left: 15rem;
}

#profile-pic {
  margin-bottom: 10rem;
}

#toolkit {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  /* border: 3px solid purple; */
  font-family: "Averia Serif Libre", serif;
  color: rgb(255, 255, 204);
  padding: 1rem;
}

#purple {
  color: #7f3dd3;
  font-size: 2rem;
}

#green {
  color: #29a427;
}

#yellow {
  color: #f5de19;
}

#teal {
  color: #00d8ff;
}

#orange {
  color: #e44d26;
}

#projects {
  display: flex;
  background-image: radial-gradient(#071d30, #04101b);
  position: absolute;
  z-index: 0;
}

/* #display-projects {
  flex-grow: 0.9;
  border: 3px solid white;
  margin: 4.5rem 4rem 2rem;
  display: flex;
  flex-direction: column;
} */

/* #display-projects img {
  height: fit-content;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
} */

#remaining-space-projects {
  flex-grow: 1;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#creativity {
  border: 3px solid yellow;
  position: absolute;
}

#project-container {
  width: 70rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 5rem;
  justify-content: center;

  border: 5px solid rgb(64, 161, 207);
}

.image-container {
  width: 70rem;
  height: 70%;
  border: 3px solid lightcoral;
}

.text-container {
  height: 30%;
}

#description-container {
  /* flex-grow: 1; */
  background-color: #ffffcc;
  color: #071d30;
  font-family: "League Gothic", sans-serif;
  /* text-align: center; */
  padding: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
  height: 30%;
}

.upper-container {
  /* height: 15%; */
  display: flex;
  justify-content: space-between;
  background-color: #ffffcc;
  align-items: center;
}

.bottom-container {
  /* height: 15%; */
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-grow: 1; */
  /* width: auto; */
  /* border: 3px solid rgb(182, 26, 214); */
  background-color: #ffffcc;
  /* gap: 20rem; */

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title {
  /* border: 3px solid red; */
  color: #071d30;
  font-family: "League Gothic", sans-serif;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}

.tools {
  padding: 0rem 1rem 2rem 0rem;
}

.tool-img {
  padding: 0.3rem;
}
.description {
  /* border: 3px solid green; */
  font-size: 1.3rem;
  padding: 0rem 3rem 1rem 1rem;
}

.links {
  /* border: 3px solid blue; */
  display: flex;

  padding-top: 2rem;
  /* align-self: flex-end; */

  object-fit: cover;
}

.link-img {
  padding: 0 10px;
}

#big-project-name {
  width: 100px;
  height: 100px;
  /* border: 3px solid palegreen; */
}

#description {
  width: 100px;
  height: 100px;
  /* border: 3px solid lightcoral; */
}

#tools-used {
  width: 100px;
  height: 100px;
  /* border: 3px solid darkorchid; */
}

#links {
  width: 100px;
  height: 100px;
  /* border: 3px solid darkcyan; */
}

.projects-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
}

#projects-right {
  padding-top: 2rem;
  width: 10%;
  height: auto;
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

#projects-left {
  padding-top: 2rem;
  width: 10%;
  height: auto;
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.project-card {
  height: 11rem;
  width: 11rem;
  /* border: 2px solid palevioletred; */
}

.project-card img {
  width: 100%;
  height: 9rem;
  display: block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.project-name {
  width: 11rem;
  background-color: #ffffcc;
  color: #071d30;
  font-family: "League Gothic", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#project-one {
}
