* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

main {
  position: relative;
}

.page {
  height: 100vh;
  width: 100vw;
}

#nav-bar {
  background-color: transparent;
  position: absolute;
  z-index: 100;
  display: flex;
}

.nav-btn {
  font-size: 1.8rem;
  font-family: "Averia Serif Libre", serif;
  padding: 0.9rem;
  background-color: transparent;
  color: #ffffcc;
  opacity: 0.7;
  cursor: pointer;
}

.nav-btn:hover {
  text-decoration: underline;
}

/* -----------------Home----------------------- */

#home-btn {
  opacity: 100%;
}

#home {
  background-image: linear-gradient(to right, #04101b, #071d30);
  position: absolute;
  z-index: 1;
  display: flex;
}

#remaining-space-home {
  width: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 10px;
  cursor: pointer;
}

.phone-number {
color: #ffffcc;
position: absolute;
  bottom: 7.7%;
  left: 3.5%;
  font-size: 1.2rem;
 display: none;
}

/* to do: find out how to position this so it will work with responsive design! */

.show-number {
  color: #ffffcc;
  position: absolute;
    bottom: 7.7%;
    left: 3.5%;
    font-size: 1.5rem;
  }

.border {
  background-image: url(./images/frame\ left.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 19rem;
  right: 0;
  transform: scaleX(-1);
}

/* change to text */
#veronica {
  background-image: url(./images/Veronicapng.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin-left: 10%;
  height: 45vh;
  width: 38vw;
}

/* -----------------About----------------------- */

#about {
  background-image: linear-gradient(to right, #04101b, #071d30);
  position: absolute;
  display: flex;
  z-index: 0;
}

#remaining-space-about {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#about-text-container {
  width: 33%;
  margin-left: 10%;
  min-width: 20rem;
}

#profile-pic {
  margin-bottom: 10vh;
}

#toolkit {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-size: 2wv;
  width: fit-content;
  height: fit-content;
  font-family: "Averia Serif Libre", serif;
  color: rgb(255, 255, 204);
  padding: 0.5vw;
}

#purple {
  color: #7f3dd3;
  font-size: 2rem;
}

#green {
  color: #29a427;
}

#yellow {
  color: #f5de19;
}

#teal {
  color: #00d8ff;
}

#orange {
  color: #e44d26;
}

/* -----------------Projects----------------------- */

#projects {
  display: flex;
  background-image: radial-gradient(#071d30, #04101b);
  position: absolute;
  z-index: 0;
}

#remaining-space-projects {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#creativity {
  position: absolute;
}

#projects-right {
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 3rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

#projects-left {
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 3rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}



.project-card {
  height: 17vh;
  width: 9vw;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: 70%;
  display: block;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.project-name {
  width: 9vw;
  height: 30%;
  background-color: #ffffcc;
  color: #071d30;
  font-family: "League Gothic", sans-serif;
  text-align: center;
  font-size: 2vw;
  padding: 2px;
  object-fit: contain;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -----------------Projects generated----------------------- */

#project-container {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 5rem;
  justify-content: center;
}

.image-container {
  height: 70%;
}

.projects-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 100%;
}
.text-container {
  height: 30%;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffcc;
  align-items: center;
  height: 50%;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffcc;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50%;
}

.title {
  color: #071d30;
  font-family: "League Gothic", sans-serif;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}

.tools {
  padding-right: 1rem;
}

.tool-img {
  padding: 0.3rem;
}
.description {
  width: 80%;
  font-size: 1.2rem;
  padding: 0rem 3rem 1rem 1rem;
  font-family: "Averia Serif Libre", serif;
}

.links {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 0rem 0rem;
  object-fit: cover;
}

.link-img {
  padding: 0 10px;
}
